@{
    ViewData["Title"] = "Home Page";
}

@model IndexModel;

@foreach (var movie in Model.Movies)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@movie.Title</h5>
            <h6 class="card-subtitle mb-2 text-muted">@movie.ReleaseYear</h6>
            <p class="card-text">@movie.Rating</p>
            <a href="#" class="card-link">Edit</a>
            <a href="#" class="card-link">Delete</a>
        </div>
    </div>
}

